@use '../abstracts/mixins' as mixin;

/* ------------------------------- */
/* Header                          */
/* ------------------------------- */

.header {
    padding-block: var(--header-padding-block);

    &__wrapper {
        @include mixin.flex($direction: row);
        justify-content: space-between;
    }

    /*
    &__branding {
        // Add header branding styles here
    }
    */

    &__toggle {
        display: none;
        border: 0;
        background: transparent;
        cursor: pointer;

        .menu-open-icon {
            display: block;
        }

        .menu-close-icon {
            display: none;
        }

        &[aria-expanded='true'] {
            .menu-open-icon {
                display: none;
            }

            .menu-close-icon {
                display: block;
            }
        }
    }

    &__menu {
        &-items {
            --menu-gap: 1rem;
        }
    }
}

@media (max-width: 47.98em) {
    .header__toggle {
        display: block;
    }

    .header__menu {
        display: none;
        position: absolute;
        width: 100%;

        &[data-visible] {
            @include mixin.flex;

            display: block;
            top: var(--header-menu-pos-top);
        }
    }

    .header__menu-items li {
        margin-block: var(--menu-gap);
        text-align: center;
    }
}

@media (min-width: 48em) {
    .header__menu {
        margin-inline: unset;
    }

    .header__menu-items {
        display: inline-flex;
        align-items: center;
        gap: var(--menu-gap);
    }
}
